*.pyc
*.so
*.o
*.txt.user
WeightComputation/libpd/build
*.root
PositionDecomposer
images
WeightComputation/calcs
PatchSpectrumCalc/build
PerformDecomp/build
PatchworkHistBuilder
AD1_Weights.csv
NaI_Weights.csv
*_C.d
*.pcm
